In [137]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
from pyspark.sql.functions import date_format

In [3]:
credentials_location = '/workspaces/de-eq-asmnt-2024/google_credentials/de-eq-asmnt-2024-6ee51b1c99e1.json'

conf = SparkConf() \
    .setMaster('local[*]') \
    .setAppName('test') \
    .set("spark.jars", "./lib/gcs-connector-hadoop3-2.2.5.jar") \
    .set("spark.hadoop.google.cloud.auth.service.account.enable", "true") \
    .set("spark.hadoop.google.cloud.auth.service.account.json.keyfile", credentials_location)

In [4]:
sc = SparkContext(conf=conf)

hadoop_conf = sc._jsc.hadoopConfiguration()

hadoop_conf.set("fs.AbstractFileSystem.gs.impl",  "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
hadoop_conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
hadoop_conf.set("fs.gs.auth.service.account.json.keyfile", credentials_location)
hadoop_conf.set("fs.gs.auth.service.account.enable", "true")

24/04/17 00:56:41 WARN Utils: Your hostname, codespaces-ff0b25 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/04/17 00:56:41 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/04/17 00:56:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
spark = SparkSession.builder \
    .config(conf=sc.getConf()) \
    .getOrCreate()

In [168]:
df = spark.read.csv('eq_events/raw/*/*', header='true')

In [170]:
df = df.withColumn("year", date_format(df.date, "yyyy")).withColumn("month", date_format(df.date, "MM"))

In [171]:
df.show()

24/04/17 02:36:13 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , event_id, datetime, location, latitude, longitude, depth, magnitude, significance, alert, country, date, timestamp, level
 Schema: _c0, event_id, datetime, location, latitude, longitude, depth, magnitude, significance, alert, country, date, timestamp, level
Expected: _c0 but found:
CSV file: file:/workspaces/de-eq-asmnt-2024/data/eq_events/raw/eq_events_2005/eq_events_2005_10.csv
+------+----------+--------------------+--------------------+--------+------------+------+---------+------------+-----+-------+----------+---------------+-----+----+-----+
|   _c0|  event_id|            datetime|            location|latitude|   longitude| depth|magnitude|significance|alert|country|      date|      timestamp|level|year|month|
+------+----------+--------------------+--------------------+--------+------------+------+---------+------------+-----+-------+----------+---------------+-----+----+-----+
|564993|usp000e0m6|2005-10-01 00:05:...|148 km SSW of Kok...|  -5.556|     151.689|  74.4|      4.3|         284|  nan|    PNG|2005-10-01|00:05:42.720000|light|2005|   10|
|313162|usp000e0m7|2005-10-01 00:15:...|245 km WSW of Tua...|  -6.559|     130.735|  16.9|      4.5|         312|  nan|    IDN|2005-10-01|00:15:12.910000|light|2005|   10|
|313163|usp000e0m8|2005-10-01 00:16:...|51 km NW of Sinab...|   2.754|      96.007|  25.2|      4.3|         284|  nan|    IDN|2005-10-01|00:16:31.090000|light|2005|   10|
|564994|usp000e0m9|2005-10-01 00:33:...|138 km SSW of Kok...|  -5.442|     151.666|  65.6|      4.2|         271|  nan|    PNG|2005-10-01|00:33:46.950000|light|2005|   10|
|700351|ci14189148|2005-10-01 01:22:...|5km SSE of Redlan...| 34.0175|-117.1641667|11.074|     3.04|         180|  nan|    USA|2005-10-01|01:22:10.520000|minor|2005|   10|
|564995|usp000e0me|2005-10-01 02:28:...|146 km SSW of Kok...|  -5.545|     151.722|  55.4|      4.8|         354|  nan|    PNG|2005-10-01|02:28:19.350000|light|2005|   10|
|397395|usp000e0mf|2005-10-01 02:43:...|Izu Islands, Japa...|  31.496|     140.232| 102.8|      4.0|         246|  nan|    JPN|2005-10-01|02:43:41.440000|light|2005|   10|
| 31421|usp000e0mg|2005-10-01 02:53:...|4 km WNW of Albar...| -31.426|     -68.566|  58.3|      3.6|         199|  nan|    ARG|2005-10-01|02:53:53.650000|minor|2005|   10|
|105247|usp000e0mg|2005-10-01 02:53:...|4 km WNW of Albar...| -31.426|     -68.566|  58.3|      3.6|         199|  nan|    BRA|2005-10-01|02:53:53.650000|minor|2005|   10|
|156402|usp000e0mg|2005-10-01 02:53:...|4 km WNW of Albar...| -31.426|     -68.566|  58.3|      3.6|         199|  nan|    CHL|2005-10-01|02:53:53.650000|minor|2005|   10|
|494537|usp000e0mg|2005-10-01 02:53:...|4 km WNW of Albar...| -31.426|     -68.566|  58.3|      3.6|         199|  nan|    NZL|2005-10-01|02:53:53.650000|minor|2005|   10|
|397396|usp000e0mh|2005-10-01 03:00:...|4 km E of Ichihar...|  35.525|     140.136|  69.3|      4.3|         284|  nan|    JPN|2005-10-01|03:00:20.160000|light|2005|   10|
|564996|usp000e0mj|2005-10-01 03:12:...|154 km SSW of Kok...|  -5.603|     151.674|  81.6|      4.8|         354|  nan|    PNG|2005-10-01|03:12:53.770000|light|2005|   10|
|239784|usp000e0mk|2005-10-01 04:16:...|91 km NNW of Seme...|  12.598|      40.822|  10.0|      4.5|         312|  nan|    ERI|2005-10-01|04:16:21.150000|light|2005|   10|
|245990|usp000e0mk|2005-10-01 04:16:...|91 km NNW of Seme...|  12.598|      40.822|  10.0|      4.5|         312|  nan|    ETH|2005-10-01|04:16:21.150000|light|2005|   10|
|564997|usp000e0mm|2005-10-01 04:24:...|152 km SSW of Kok...|  -5.623|     151.748|  62.3|      4.4|         298|  nan|    PNG|2005-10-01|04:24:08.780000|light|2005|   10|
|441345|usp000e0mn|2005-10-01 04:40:...|3 km NNE of Monte...|  16.417|     -98.487|   8.8|      3.6|         199|  nan|    MEX|2005-10-01|04:40:19.100000|minor|2005|   10|
|269019|usp000e0mp|2005-10-01 04:42:...|3 km WSW of PÃ½rgo...|   37.66|        21.4|  18.0|      3.2|         158|  nan|    GRC|2005-10-01|04:42:19.600000|minor|2005|   10|
|397397|usp000e0mq|2005-10-01 05:06:...|16 km SE of T?gan...|  35.437|     140.479|  63.5|      4.3|         284|  nan|    JPN|2005-10-01|05:06:34.590000|light|2005|   10|
|461856|usp000e0mr|2005-10-01 05:23:...|Maug Islands regi...|  19.288|     145.456| 170.9|      4.4|         298|  nan|    MNP|2005-10-01|05:23:28.290000|light|2005|   10|
+------+----------+--------------------+--------------------+--------+------------+------+---------+------------+-----+-------+----------+---------------+-----+----+-----+
only showing top 20 rows

In [172]:
df = df.drop('_c0')

In [173]:
df.registerTempTable('eq_events')

In [174]:
df_final = spark.sql("""
select *
from eq_events
cluster by country
""")

In [175]:
df_monthly = spark.sql("""
select 
    country, 
    date_trunc('month', date) as eq_month,
    COUNT(event_id) as events_occ,
    avg(depth) as avg_depth_month,
    avg(magnitude) as avg_mag_month,
    avg(significance) as avg_sig_month,
    max(depth) as max_depth_month,
    max(magnitude) as max_mag_month,
    max(significance) as max_sig_month,
    min(depth) as min_depth_month,
    min(magnitude) as min_mag_month,
    min(significance) as min_sig_month
from eq_events
group by 1,2
cluster by country
""")

In [176]:
df_week = spark.sql("""
select 
    country, 
    date_trunc('week', date) as eq_week,
    COUNT(event_id) as events_occ,
    avg(depth) as avg_depth_week,
    avg(magnitude) as avg_mag_week,
    avg(significance) as avg_sig_week,
    max(depth) as max_depth_week,
    max(magnitude) as max_mag_week,
    max(significance) as max_sig_week,
    min(depth) as min_depth_week,
    min(magnitude) as min_mag_week,
    min(significance) as min_sig_week
from eq_events
group by 1,2
cluster by country
""")

In [177]:
df_daily = spark.sql("""
select 
    country, 
    date,
    COUNT(event_id) as events_occ,
    avg(depth) as avg_depth_day,
    avg(magnitude) as avg_mag_day,
    avg(significance) as avg_sig_day,
    max(depth) as max_depth_day,
    max(magnitude) as max_mag_day,
    max(significance) as max_sig_day,
    min(depth) as min_depth_day,
    min(magnitude) as min_mag_day,
    min(significance) as min_sig_day
from eq_events
group by 1,2 
cluster by country
""")

In [179]:
df_monthly.count()

34963

In [124]:
df.coalesce(1).write.option("header", "true").parquet('eq_events/final/', mode='overwrite')

In [180]:
df.coalesce(1).write.option("header", "true").partitionBy('year', 'month').parquet('eq_events/processed/final', mode='overwrite')

In [ ]:
df_week.coalesce(1).write.option("header", "true").partitionBy('eq_week').parquet('eq_events/processed/weekly/', mode='overwrite')

In [ ]:
df_monthly.coalesce(1).write.option("header", "true").partitionBy('eq_month').parquet('eq_events/processed/monthly/', mode='overwrite')

In [ ]:
df_daily.coalesce(1).write.option("header", "true").partitionBy('year', 'month').parquet('eq_events/processed/daily/', mode='overwrite')